/* Colors */
$black: #000000;
$lightblack:#191919;
$white: #FFFFFF;
$orange: #F15A22;
$gray: #9E9E9E;
$lightgray: #e0e0e0;
$green: #17a500;
$red: #ff0c0c;
$shadowcolor:#d0cccc;
$purple: #62678F;
$blue: #1072A5;
$graybg:#F0F0EF;
$lightorange:#FEEEE9;

/* Core Variables */
$fontFamily: 'Heebo', sans-serif;
$secondaryFont:'Source Sans Pro', sans-serif;
$fontSizeHeader1: 40px;
$fontSizeHeader2: 26px;
$fontSizeBase: 16px;
$fontSizeBasesm: 15px;
$fontSizeRegular: 14px;
$fontSizeMedium: 12px;
$lineHeight: 1.25 * $fontSizeBase;
$fontweightbase: 500;
$fontweightsm:400;
